body {
	background: #eeeeee;
	margin: 10px;
	padding: 0;
	font-family: Arial, sans-serif;
}

table {
	position: absolute;
	margin: 0 0 0 0;
	background: #aaccff;
	border: 1px solid #000066;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	width: 160px;
	height: 445px;
}

th {
	background: #aaccff;
	font-size: 11pt;
	color: #aa0000;
}

td {
	background: #aaccff;
	text-align: center;
	padding: 7px 0 7px 0;
	border-top: 1px solid #999999;
}

td a,
td span {
	color: #0000aa;
	font-size: 9pt;
	text-decoration: none;
}

div#product {
	position: absolute;
	width: 700px;
	height: 580px;
	margin: 0 0 0 175px;
	padding: 0;
}

div#map_title,
div#options_title,
div#map_title_grid {
	position: absolute;
	width: 700px;
	margin: 0 0 0 0;
	border: 0;
	color: #aa0000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

div#map_title span,
div#map_title_grid span {
	color: #000000;
	font-size: 11pt;
	font-weight: normal;
	font-style: italic;
}

div#map {
	position: absolute;
	width: 700px;
	height: 420px;
	margin: 25px 0 0 0;
	border: 1px solid #000000;
	z-index: 9;
}

div#location_address,
div#location_latlon,
div#location_county,
div#show_stns,
div#selected_stnname {
	position: absolute;
	width: 175px;
	height: 50px;
	margin: 55px 0px 0px 300px;
	margin-left: 520px;
	padding: 0;
	border: 1px solid #000000;
	background: #eeeeee;
	z-index: 10;
}

div#show_stns {
	margin-top: 50px;
}

div#location_address {
	margin-top: 100px;
	display: none;
}

div#location_latlon {
	margin-top: 150px;
	display: none;
}

div#map_title_grid {
	display: none;
}

div#selected_stnname {
	margin-top: 150px;
}

div#location_county {
	margin-top: 200px;
}

input#latitude,
input#longitude {
	width: 40px;
}

div.box_title {
	position: absolute;
	width: 100%;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0;
	border-bottom: 1px solid #666666;
	background: #ffffcc;
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

div.box_text {
	position: absolute;
	width: 100%;
	height: 25px;
	margin: 25px 0 0 0;
	padding: 0;
	color: #000000;
	font-size: 9pt;
	text-align: center;
}

div#location_address,
div#location_latlon,
div#location_county {
	width: 175px;
}

div#location_address form,
div#location_latlon form,
div#location_county form {
	margin: 0 0 0 2px;
	padding: 0;
}

div#location_address form input,
div#location_latlon form input,
div#location_county form input {
	margin: 0;
	padding: 0;
}

div#options_title {
	margin: 450px 0 0 0;
}

div.options_box {
	position: absolute;
	width: 700px;
	height: 52px;
	margin: 475px 0 0 0;
}

div.option_4-1,
div.option_4-2,
div.option_4-3,
div.option_4-4,
div.option_3-1,
div.option_3-2,
div.option_3-3,
div.option_3-4,
div.option_2-1,
div.option_2-2,
div.option_2-3,
div.option_2-4,
div.option_1-1,
div.option_1-2,
div.option_1-3,
div.option_1-4 {
	position: absolute;
	height: 50px;
	margin: 0 0 0 20px;
	background: #eeeeee;
	border: 1px solid #333333;
	font-size: 12pt;
	font-weight: bold;
}

/*** 4 OPTION BOXES ***/
div.option_4-1 {
	width: 150px;
	margin-left: 20px;
}

div.option_4-2 {
	width: 150px;
	margin-left: 190px;
}

div.option_4-3 {
	width: 150px;
	margin-left: 360px;
}

div.option_4-4 {
	width: 150px;
	margin-left: 530px;
}

/*** 3 OPTION BOXES ***/
div.option_3-1 {
	width: 180px;
	margin-left: 40px;
}

div.option_3-2 {
	width: 180px;
	margin-left: 260px;
}

div.option_3-3 {
	width: 180px;
	margin-left: 480px;
}

div.option_3-4 {
	display: none;
}

/*** 2 OPTION BOXES ***/
div.option_2-1 {
	width: 230px;
	margin-left: 80px;
}

div.option_2-2 {
	width: 230px;
	margin-left: 390px;
}

div.option_2-3 {
	display: none;
}

div.option_2-4 {
	display: none;
}

/*** 1 OPTION BOX ***/
div.option_1-1 {
	width: 380px;
	margin-left: 160px;
}

div.option_1-2 {
	display: none;
}

div.option_1-3 {
	display: none;
}

div.option_1-4 {
	display: none;
}

div#submit {
	position: absolute;
	width: 700px;
	height: 35px;
	margin: 540px 0 0 0;
	border: 0;
	text-align: center;
}

div#submit input {
	width: 300px;
	font-size: 18pt;
	font-weight: bold;
	background: #aaffaa;
}

div#submit_no {
	display: none;
}

div#submit_no input {
	background: #ffaaaa;
}

div#info_blurb {
	position: absolute;
	top: 0px;
	left: 170px;
	width: 67%;
	z-index: 10;
	margin-left: 0px;
	border: 1px solid #000000;
	background: 'red';
	display: none;
}

div.loading {
	margin: 100px 0 0 0;
	border: 1px solid #000000;
}

div.loading img {
	width: 32px;
	height: 32px;
}

iframe#download {
	display: absolute;
	width: 1px;
	height: 1px;
	display: none;
}

div#data_error {
	position: absolute;
	width: 900px;
	height: 580px;
	margin: 0;
	padding: 0;
	background: url('../img/data_error.png');
}

div#data_error div {
	position: absolute;
	width: 400px;
	height: 200px;
	margin: 125px 0 0 250px;
	border: 2px solid #000066;
	background: #88aaff;
	text-align: center;
}

div#data_error div h2 {
	color: #660000;
}